<div class="row product gif-show-photo">
    <div class="col-md-offset-1 col-md-4 text-center"><p><%= image_tag @gif.image, width: 400 %></p></div>
      <div class="container col-md-offset-1 col-xs-12 col-md-3 gif-show">
        <h2><%= @gif.title %></h2>
        <p><%= @gif.description %></p>
        <h3><%= format_price(@gif.price) %></h3>
        <p>
          <% if @gif.retired? %>
            <%= "Sorry, this gif is no longer available" %>
          <% else %>
          <%= link_to "Add to cart", cart_gifs_path(gif_id: @gif.id), method: :post, class: "btn btn-default" %>
          <% end %>
        </p>
        <br>
        <% if current_admin? %>
          <p><%= link_to "Edit", edit_admin_gif_path(@gif.id), class: "btn btn-default" %>
        <% end %>
      </div>
      <div class="container col-md-2 charity-column">
        <% if @charity %>
          <p><%= link_to (image_tag @charity.logo, width: 150), charity_path(@charity), class: "charity-link"%>
          <p>Purchase of this gif will support <%= link_to @charity.name, @charity.link %>.</p>
        <% end %>
      </div>
      <div class="col-md-12 text-center">
      <h3>Tags</h3>
      <% @gif.tags.each_slice(1) do |row| %>
        <div class="col-md-4 text-center">
          <% row.each do |tag| %>
          <h4><%= link_to tag.name, tag_path(tag.name), class: "btn btn-default" %></h4>
          <% end %>
        </div>
      <% end %>
      </div>
</div>
