<div class="row product">
    <div class="col-md-5 col-md-offset-2"><p><%= image_tag @gif.image, width: 400 %></p>
</div>
    <div class="col-md-5">
        <h2><%= @gif.title %></h2>
        <p><%= @gif.description %></p>
        <h3><%= format_price(@gif.price) %></h3>
        <p>
          <% if @gif.retired? %>
          <%= "Sorry, this gif is no longer available" %>
          <% else %>
          <%= link_to "Add to cart", cart_gifs_path(gif_id: @gif.id), method: :post, class: "btn btn-default" %>
          <% end %>
        </p>
        <% if @charity %>
        <p><%= link_to (image_tag @charity.logo, width: 150), charity_path(@charity) %>
          <p>Purchase of this gif will support <%= link_to @charity.name, charity_path(@charity) %>.</p>
            <% end %>
        <% if current_admin? %>
        <p><%= link_to "Edit", edit_admin_gif_path(@gif.id) %>
        <% end %>
    </div>
</div>
