<h1 class="text-center">.your_shopping_cart</h1>
​
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title and Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_gifs.each do |gif| %>
        <div id="gif-info">
          <tr>
            <td><%= image_tag gif.image, width: 80 %></td>
            <td><%= gif.title %>
            <p><%= gif.description %></p></td>
            <td><%= number_to_currency(gif.format_price) %></td>
            <td>
              <%= form_tag(cart_path(id: gif.id), method: :patch) do %>
                <p><%= select gif.id, gif.quantity, (1..15).to_a, selected: gif.quantity %></p>
                <p><%= submit_tag "Update Quantity" %></p>
              <% end %>
              <p><%= link_to "Remove", cart_path(id: gif.id), method: :delete %></p>
            </td>
            <td><%= number_to_currency(gif.subtotal) %></td>
          </tr>
        </div>
      <% end %>
      <tr>
        <td colspan=5 align=right>
          <p>Total: $<%= @cart.total_price / 100 %>.00</p>
          <p><%= link_to "Checkout", new_charge_path %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
