<h1 class="text-center">Your Shopping Cart</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title & Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @gifs.each do |gif, quantity| %>
        <div id="gif-info">
          <tr>
            <td><%= image_tag gif.image, width: 80 %></td>
            <td><%= gif.title %>
            <p><%= gif.description %></p></td>
            <td><%= format_price(gif.price) %></td>
            <td><%= quantity %>
              <% pry %>
              <%= form_for @cart.contents, url: cart_gifs_path(id: gif.id) do |f| %>
                <p><%= f.select @cart.contents[gif.id], (1..15).to_a, id: "quantity" %>
              <p><%= f.submit "Update Quantity", method: :update %>
              <% end %>
              <p><%= link_to "Remove", cart_path(id: gif.id), method: :delete %></p>
            </td>
            <td><%= format_price(quantity * gif.price) %></td>
          </tr>
        </div>
      <% end %>
      <tr>
        <td colspan=5 align=right>
          Total: <%=  format_price(get_total_price(@gifs)) %></p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
