<h1>Your Shopping Cart</h1>

<% @gifs.each do |gif, quantity| %>
  <%= image_path gif.image %>
  <p>Title, Price, Quanity:<%= gif.title %> <%= format_price(gif.price) %>: <%= quantity %></p>
  <p><%= gif.description %></p>
<% end %>

<p>Total: <%=  format_price(get_total_price(@gifs)) %></p>
