<h1>Checkout Summary</h1>

<% @cart_gifs.each do |cart_gif| %>
  <%= cart_gif.title %>
  <%= cart_gif.description %>
  <%= cart_gif.quantity %>
<% end %>
<%= form_for @order do |f| %>
  <%= f.submit "Accept Order" %>
<% end %>
