<h1 class="text-center">tagged_<%= @tag.name %></h1>
<div class="container row">
  <% if @tag.gifs %>
  <div class="container row">
    <% @tag.gifs.each do |gif| %>
    <div class="col-xs-9 col-sm-6 col-md-4 col-lg-3  gif">
      <h4 class="gif-title"><%= link_to "#{gif.title}", gif_path(gif.id), class: "gif-title" %></h4>
      <%= image_tag gif.image, width: "250", class: "vertical" %>
      <%= gif.description %>
      <%= gif.price %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
